fullname: personal-website
replicaCount: 1
image:
  repository: harbor.schwartzdaniel.de/private/personal-website
  tag: "latest@sha:cc15c79aaf7a2997351c1ad8c348d9ca4369b71b"
  pullPolicy: Always

imagePullSecrets:
  - name: harbor-pull-secret

service:
  type: ClusterIP
  port: 80

probes:
  liveness:
    path: /
    initialDelaySeconds: 5
    periodSeconds: 10
  readiness:
    path: /
    initialDelaySeconds: 5
    periodSeconds: 10