apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: portfolio
  namespace: argocd
  annotations:
    argocd-image-updater.argoproj.io/image-list: website=harbor.schwartzdaniel.de/private/personal-website
    argocd-image-updater.argoproj.io/website.update-strategy: digest 
spec:
  project: default
  source:
    repoURL: https://github.com/DanielSchwartz1/personal-website.git
    targetRevision: HEAD
    path: helm-chart
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: portfolio-prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true