name: Build and Push to Harbor

on:
  push:
    branches: [ main ]
    tags: [ '*.*.*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.HARBOR_URL }}
          username: ${{ secrets.HARBOR_USER }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Clone Private Legal Docs
        env:
          TOKEN: ${{ secrets.LEGAL_DOCS_TOKEN }}
        run: |
          git clone https://x-access-token:${TOKEN}@github.com/DanielSchwartz1/personal-legal-docs.git temp_legal
          
          cp temp_legal/impressum.html ./app/
          cp temp_legal/datenschutz.html ./app/
          
          # cleanup
          rm -rf temp_legal

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.HARBOR_URL }}/private/personal-website:dev